<h1>建立角色</h1>

<from method="post" action="~/api/RoleApi/Create">
    <lable for="roleText">角色名稱</lable>
    <input id="roleText" name="addRole" type="text" />
    <button type="submit">新增</button>
</from>